<!DOCTYPE html>
<html>
	<head>
		<title>{{.Doc.title}}</title>
		<link rel="stylesheet" href="/blog/blog.css" type="text/css" />
	</head>
	<body>
		{{.Include "blog/templates/header.html" }}
		<div id="content">
			<div class="titlebar">
				<h1 class="title">{{.Doc.title}}</h1>
				{{ if .Doc.author }}
				<div>
					<span class="post-date">{{.Doc.date}}</span>
					<span class="author">by {{.Doc.author}}</span>
				</div>
				{{ end }}
			</div>
			<div id="body">
				{{.Doc.body}}
			</div>
		</div>
	</body>
</html>
