https://localhost tjbearse.net

# TODO change to bearse.thomas@gmail.com and allow auto ACME stuff
tls self_signed

gzip
ext .html

jwt {
	path /
	redirect /login?backTo={rewrite_uri}
	allow sub bob
	passthrough /
}

login {
	simple bob=secret
}